@model AreaAtendimentoModel
@{
    ViewBag.Title = "Área Atendimento Profissional";
}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="d-none d-sm-block">
            <a class="navbar-brand" href="#">Área Atendimento Profissional</a>
        </div>
        <div class="d-block d-sm-none">
            <a class="navbar-brand" href="#">Atendimentos</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAtendimento" aria-controls="navbarAtendimento" aria-expanded="false" aria-label="Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarAtendimento">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="~/imgs/avatarUsuario.png" alt="Foto" class="rounded-circle" width="30"/> @Model.ProfissionalSaude.Nome</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group mt-1 me-1" role="group" aria-label="Ativa/Desativa Atendimento">
                        <input type="checkbox" class="btn-check" id="btnOnline" autocomplete="off" @(Model.ProfissionalSaude.Online? "checked":"")>
                        <label class="btn @(Model.ProfissionalSaude.Online? "btn-outline-success":"btn-outline-secondary") btnOnline" for="btnOnline" title="Clique para mudar seus status.">@(Model.ProfissionalSaude.Online? "Atendendo (Online)":"Não estou atendendo")</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalSairArea" title="Sair do Área de Atendimento">Sair</button>
        </div>
    </div>
</nav>
<div class="mt-5">
    <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="~/imgs/atendimentoCliente.png" class="img-fluid" alt="Imagem de Atendimento de Cliente"/>
        </div>
        <div class="col-12 col-xl-8">
            <input type="hidden" id="idProfissional" value="@Model.ProfissionalSaude.Id"/>
            @await Html.PartialAsync("_MensagensPartial")
            <div class="row">
                <div class="col-md-4 mb-2">
                    <div class="card text-white bg-success">
                        <div class="card-header">Profissionais Online</div>
                        <div class="card-body text-center">
                            <h3 class="card-title qtd-profissionais-online">@Model.QtdProfissionaisOnline</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card text-white bg-warning">
                        <div class="card-header">Fila de Atendimento</div>
                        <div class="card-body text-center">
                            <h3 class="card-title qtd-clientes-filaatendimento">@Model.QtdClientesNaFila</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card text-white bg-primary">
                        <div class="card-header">Em Atendimento</div>
                        <div class="card-body text-center">
                            <h3 class="card-title qtd-clientes-ematendimento">@Model.QtdClientesEmAtendimento</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <h4>Seus Atendimentos</h4>
                    <ul class="nav nav-tabs" id="tabsAtendimentos">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" id="tab-realizados" data-bs-toggle="tab" data-bs-target="#realizados" role="tab" aria-controls="realizados" aria-selected="true">Realizados</button >
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" id="tab-emAndamento" data-bs-toggle="tab" data-bs-target="#emAndamento" role="tab" aria-controls="em-andamento" aria-selected="true">Em Andamento</button >
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="realizados" role="tabpanel" aria-labelledby="tab-realizados">
                            <div class="atendimentos-realizados">@await Html.PartialAsync("_AtendimentosRealizadosPartial", Model.Atendimentos)</div>
                        </div>
                        <div class="tab-pane fade" id="emAndamento" role="tabpanel" aria-labelledby="tab-emAndamento">
                            <div class="atendimentos-emAndamento">
                                <div class="d-flex m-2 align-items-center">
                                    <div class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">
                                        <span class="visually-hidden">Carregando...</span>
                                    </div>
                                    Carregando os atendimentos em andamento...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairArea" tabindex="-1" aria-labelledby="modalSairAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairAreaLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h5>Deseja realmente <strong>sair</strong> da área atendimento?</h5>
            </div>
            <div class="modal-footer">
                <a asp-action="Sair" asp-controller="EquipeSaude" class="btn btn-outline-danger" title="Sair do Área de Atendimento">Sim, quero sair</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
<audio id="audioAtendimento" src="~/mp3/audioPosicaoFila.mp3"></audio>
@await Html.PartialAsync("_ModalRedirectPartial")
@section Scripts
{
    <script src="~/js/profissional-atendimento.js" asp-append-version="true"></script>
    @if (Model != null && Model.ProfissionalSaude != null && Model.ProfissionalSaude.Online)
    {
        <script>AreaAtendimentoProfissional.InitVerificacaoProximoClienteAtendimento();</script>
    }
}
