@model List<ArquivoAtendimentoModel>
@{
    var IdUsuario = ViewData["IdUsuario"]?.ToString() ?? "";
    var IdAtendimento = ViewData["IdAtendimento"]?.ToString() ?? "";
}
@if (Model == null || !Model.Any())
{
    <div class="mt-3 text-muted text-center">
        Você não tem nenhum arquivo!
        <span class="material-symbols-outlined d-block mt-2 fs-1">folder</span>
    </div>
}
else
{
    <div class="list-group list-group-flush lista-arquivos">
        @foreach (var arquivo in Model)
        {
            <div class="list-group-item p-1 pt-2">
                <div class="d-flex justify-content-start text-truncate">
                    <a asp-action="DownloadArquivoAtendimento" asp-controller="Atendimento" 
                       asp-route-idAtendimento="@IdAtendimento" asp-route-idArquivo="@arquivo.Id" title="Clique para download do arquivo.">
                        @arquivo.NomeOriginal
                    </a>
                </div>
                <div class="d-flex justify-content-end">
                    <small class="pt-1 px-1">@arquivo.DataHoraEnvio.ToString("g")</small>
                    <span>
                        @if (arquivo.IdUsuario.Equals(IdUsuario))
                        {
                            <a href="#" data-id-arquivo="@arquivo.Id" class="remover-arquivo-atendimento" title="Clique para remover o arquivo do atendimento.">
                                <span class="material-symbols-outlined">delete</span>
                            </a>
                        }
                    </span>
                </div>
            </div>
        }
    </div>
}