@using VideoChatApp.FrontEnd.Services.Enums
@model List<AtendimentoModel>

<div class="row pt-3">
    <div class="col-12">
        <h4>Atendimentos</h4>
        <hr/>
    </div>
</div>
@if (Model == null)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">Nenhum registro de atendimento encontrado.</div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th class="col">Data registro</th>
                        <th class="col">Situação</th>
                        <th class="col text-center">Nota</th>
                        <th class="col text-center">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DataRegistro.ToString("g")</td>
                            <td>@item.Situacao.ObterTextoEnum()</td>
                            <td class="text-center">@(item.Nota==0?"-":item.Nota.ToString("F"))</td>
                            <td class="text-end">
                                @if (item.HasRetomarAtendimento)
                                {
                                    <a asp-action="ContinuarAtendimento" asp-controller="Atendimento" asp-route-idAtendimento="@item.Id" class="btn btn-info btn-sm">
                                        <span class="d-none d-sm-block">Continuar</span>
                                        <span class="d-sm-none d-block material-symbols-outlined fs-6">open_in_new</span>
                                    </a>
                                    <a asp-action="CancelarAtendimento" asp-controller="Atendimento" asp-route-idAtendimento="@item.Id" class="btn btn-danger btn-sm">
                                        <span class="d-none d-sm-block">Cancelar</span>
                                        <span class="d-sm-none d-block material-symbols-outlined fs-6">delete</span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
