@model List<AtendimentoModel>

<div class="row pt-2">
    <div class="col-12">
        <h4>Atendimentos</h4>
        <hr/>
    </div>
</div>
@if (Model == null)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">Você não realizou nenhum atendimento de video-chamada!</div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 table-responsive">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col">Data registro</th>
                        <th class="col">Situação</th>
                        <th class="col text-center">Nota</th>
                        <th class="col text-center">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.DataRegistro.ToString("g")</th>
                            <td>@item.Situacao</td>
                            <td class="text-center">@(item.Nota==0?"-":item.Nota.ToString("F"))</td>
                            <td class="text-end">
                                @if (item.HasRetomarAtendimento)
                                {
                                    <a asp-action="ContinuarAtendimento" asp-controller="Atendimento" asp-route-idAtendimento="@item.Id" class="btn btn-info btn-sm">Continuar</a>
                                    <a asp-action="CancelarAtendimento" asp-controller="Atendimento" asp-route-idAtendimento="@item.Id" class="btn btn-danger btn-sm">Cancelar</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
}
